/********************COMMON******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.margin-t {
    margin-top: 2rem;
}

.margin-b {
    margin-bottom: 2rem;
}

.margin-b1 {
    margin-bottom: 1rem;
}

.margin-b4 {
    margin-bottom: 4rem;
}

.margin-l1 {
    margin-left: 1rem;
}

.gap1 {
    gap: 1rem;
}

.txt-center {
    text-align: center;
}

.pd-1 {
    padding: 1rem;
}

.pd-05 {
    padding: 0.5rem;
}

.short {
    width: 2rem;
}

ul {
    list-style: none;
}

.img-w {
    width: 100%;
}
/*********************HEADER*******************/
.nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9999;
}

.nav-container {
    width: 100%;
    height: 4rem;
    margin-bottom: 6rem;
}

.nav-links {
    justify-content: space-around;
    padding: 1.5rem 1.5rem;
}

.links {
    color: black;
    opacity: 0.5;
}

.links:hover {
    border-bottom: 1px solid black;
}

.col-nav {
    width: 50%;
    min-height: 3rem;
}

.right-nav {
    justify-content: flex-end;
}

.logo {
    width: 20%;
    padding: 1.3rem;
}

.answers {
    width: 50%;
}

.help {
    width: 60%;
}

.hero {
    background-color: #b4d0e7;
}

.img-hero {
    width: 100%;
    transform: translateY(2.3rem);
}

.boxed-hero {
    width: 60%;
    min-height: 30rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.hero-col-left {
    width: 30%;
    flex-direction: column;
}

.btn-hero {
    width: 75%;
}

.fa-arrow-down {
    font-size: 5rem;
    font-weight: 800;
    color: black;
    width: fit-content;
}

.hero-col-right {
    width: 60%;
}

.title {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 2px;
    font-weight: 600;
}

/*****************************MAIN**********************/

.boxed-container {
    width: 50%;
    margin: 4rem auto 0 auto;
    padding: 1rem;
}

.label {
    margin-right: 1rem;
}

.columns {
    width: 100%;
    min-height: 100px;
    background-color: white;
    gap: 1rem;
}

.col-all {
    width: calc(100% / 3 - 1rem);
    outline: 1px solid black;
    margin: 0 auto;
}

.pacchetto {
    outline: 1px solid black;
}

.button {
    background-color: #0061ff;
    color: white;
}

.btn {
    background-color: #0061ff;
    padding: 0.1rem 0.5rem;
}

.fa-check {
    color: #0061ff;
}

.left-col-bot {
    flex-direction: column;
    width: 70%;
}

.vertical-col {
    width: 100%;
    justify-content: space-between;
}

.vertical-btn {
    height: 3rem;
}

.column-bottom {
    outline: 1px solid black;
}

/* END COLUMNS/START IMGS */

.img-caption-container {
}

.img {
    width: 60%;
    height: 100%;
}

.caption {
    width: 40%;
    height: 100%;
}

.btn-partner {
    border: 1px solid #222;
    color: #222;
}

.col-img-cap {
    min-height: 400px;
    width: calc(100% / 3 - 1rem);
}

.col-img-container {
    flex-wrap: wrap;
    gap: 1rem;
}

.caption-main {
    height: calc(100% / 2);
}

/***************************FOOTER************************/

.clie {
    width: 33.3%;
    height: 400px;
    outline: 1px solid black;
    flex-wrap: wrap;
}

.marca {
    height: calc(100% / 2);
    width: calc(100% / 2);
    justify-content: center;
    align-items: center;
}

.img-marca {
    width: 70%;
    filter: invert(1);
}

.designit {
    width: 20rem;
}

.marca-1 {
    background-color: #a2d39b;
}

.marca-2 {
    background-color: #61082b;
}

.marca-3{
    background-color: #0093ce;
}

.marca-4{
    background-color: #ff1c1c;
}

.marca-5{
    background-color: #d5001f;
}

.marca-6{
    background-color: #b4d0e7;
}

.marca-7{
    background-color: #0d2481;
}

.marca-8 {
    background-color: #ffd830;
}

.center-col-main {
    background-color: lightgray;
}

.under-banner {
    height: 15rem;
    width: 100%;
    background-color: #b4d0e7;
}

.btn-banner {
    background-color: white;
    color: #222;
    height: 2rem;
}

.banner {
    justify-content: space-between;
}

.banner-title {
    color: crimson;
    width: 60%;
}

.under-under-banner {
    height: 500px;
    width: 100%;
    background-color: white;
}

.qa {
    margin-left: 24rem;
}

.question {
    line-height: 5rem;
}

.question-hover {
    display: none;
}

.question:hover + .question-hover{
    display: block;
}

.question:hover .fa-chevron-down {
    transform: rotate(0.5turn);
}

.footer {
    padding-bottom: 4rem;
    width: 100%;
    background-color: #222;
}

.boxed-container-foot {
    width: 70%;
    margin: 4rem auto 0 auto;
    padding: 1rem;
    justify-content: space-around;
}

.ul-foot {
    color: white;
    line-height: 2rem;
}

.foot-links {
    color: white;
}

.ul-foot-border {
    border-bottom: 1px solid white;
}

#language {
    color: white;
    margin-right: 1rem;
}

.fa-earth-americas {
    color: white;
}

.language {
    margin-left: 19rem;
    border-bottom: 1px solid white;
    width: 10.5rem;
    line-height: 3rem;
    color: white;
}